@using HE160735_NguyenMinhTan_Project.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <!-- ======= Book A Table Section ======= -->

        <div class="section-header">
            <h2>Create Category</h2>
        </div>

        <div class="">
            @using (Html.BeginForm("CategoryCreate", "Dashboard", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-lg-12 col-md-12" style="margin-bottom: 20px">
                        <input type="text" name="cateid" class="form-control" id="cateid" placeholder="Cate Id" value="Auto generate" readonly="readonly">
                        <div class="validate"></div>
                    </div>
                    <div class="col-lg-12 col-md-12" style="margin-bottom: 20px">
                        <input type="text" class="form-control" name="catename" id="catename" placeholder="Cate Name">
                        <div class="validate"></div>
                    </div>
                </div>
                <div class="mb-3">
                    @if (ViewData["message"] != null)
                    {
                        <div>@ViewData["message"]</div>
                    }
                </div>
                <div class="text-center">
                    <button type="submit" style="background: var(--color-primary);border: 0;padding: 14px 60px;color: #fff;transition: 0.4s;border-radius: 50px;background: #ec2727;">
                        Create Category
                    </button>
                </div>
            }
        </div>
    </div>
</div>
